[submodule "plugins/postgres"]
	path = plugins/postgres
	url = https://github.com/amitoki/amitoki-plugin-postgres.git
[submodule "plugins/p2p"]
	path = plugins/p2p
	url = https://github.com/amitoki/amitoki-plugin-p2p.git
